*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.hero{
    width: 100%;
    min-height: 100vh;
    /* background-color: blue; */
    background: linear-gradient(45deg , #08001f,#30197d);
    color: #fff;
    position: relative;
}
.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background:red; */
}
.clock{
    width: 100%;
    height: 100%;
    background: rgba(235,0,255,0.11);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.container::before{
    content: ' ';
    height: 180px;
    width: 180px;
    background: #f41b75;
    border-radius: 5px;
    position: absolute;
    left: -5%;
    top: -20%;
    z-index: -1;

}
.container::after {
    content: ' ';
    height: 180px;
    width: 180px;
    background: #13599a;
    border-radius: 50%;
    position: absolute;
    left: 77%;
    top: 40%;
    z-index: -1;
}
.clock span{
    font-size: 80px;
    width: 100px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    /* content: 'Hours'; */
    font-size: 16px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}
#hrs::after{
    content: 'HOURS';

}
#min::after{
    content: 'MINS';

}
#sec::after{
    content: 'SEC';

}
#mili::after{
    content: 'MILLI';

}